/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.backup
.env.production

*.sqlite
/database/*.sqlite

npm-debug.log
yarn-error.log

.phpunit.result.cache

/.idea
/.vscode

.DS_Store
Thumbs.db